body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('image.png');
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: rgb(27, 220, 69);
}

fieldset{
    box-shadow: 3px 3px 10px 2px black;
    width: 600px;
    margin: 10px auto;
    background-color: #eee;
    text-align: center;
    padding-bottom: 3%;
}
.contain{
    width: 800px;
    margin: 5px auto;
    text-align: center;
}

input{
    border: 1px solid black;
    width: 75%;
    display: block;
    margin: 3px auto;
    padding: 5px;
}

.radio{
    position: relative;
    display: flex;
    width: 15px;
    margin: 5px;
    left: 100px;
}

input[type='radio']{
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
}
input[type='radio']:hover{
    box-shadow: none;
}
::placeholder{
    font-size: 15px;
    color: red;
}

input:hover{
    box-shadow: 1px 0px 5px 1px black;
    cursor: pointer;
}

input[type='submit']{
    font-family: Arial ,sans-serif;
    font-size: 15px;
    width: 203px;
    background-color: #ede509df;
    padding: 1px;
    margin-top: 25px;
    transition: all 0.2s;
}

input[type='submit']:hover{
    box-shadow: 1px 1px 5px 3px black;
    cursor: pointer;
    width: 204px;
    font-size: 15px;

}

label{
    display: flex;
    font-family: Arial ,sans-serif;
    position: relative;
    left: 14%;
    color: blue;
    font-size: 17px;
    margin: 8px;
}

.file > input[type='text']{
    border: none;
    background-color: transparent;
}
.error{
    text-align: left;
    color: red;
}