body{
    background-color: #efefef;
}
table{
    margin: 50px auto;
    border-collapse: collapse;
}

thead{
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px;
}

th{
    border-bottom: 2px solid #bbb;
    padding: 7px;
}
td{
    padding: 2px 2px 2px 5px;
    border-bottom: 1px solid #ddd;
}

.web{
    color: blue;
}

a{
    font-family: 'Times New Roman', Times, serif;
    display: inline;
    text-decoration: none;
    background-color: rgb(27, 163, 27);
    color: white;
    padding: 4px;
}
td > a{
    text-decoration: none;
    background-color: #efefef;
    color: blue;
}

.search{
    position: absolute;
    right: 30%;
    top: 5px;
}

input{
    padding: 6px 8px;
    margin: 1px 0px;
}
input:hover{
    cursor: pointer;
    box-shadow: 1px 1px 4px 2px black;
}

input[value='Supprimer']{
    background-color: rgb(252, 11, 11);
    border: none;
    color: azure;
}

input[value='Modifier']{
    background-color: rgb(83, 11, 252);
    border: none;
    color: azure;
}

input[value='Voir']{
    background-color: rgb(23, 195, 51);
    border: none;
    color: azure;
}

::placeholder{
    padding-left:20px;
}
.box{
    display: flex;
}